:root {
  --col:#403D31;
  --col2:#0D0C0A;
  --col3:#D9D5C1;
  --col4:#A6A186;
}
p{
  font-size: 1vw;
  line-height: 2;
}
h1{
  margin: 0;
  font-size: 10vw;
}
h2{
  font-size: 8vw;
  letter-spacing: 0.1em;
  margin: 0;
}


.end{
  position: relative;
  text-align: center;
  background-color: #D9D5C1;
}

.title{
  position: relative;
  height: 200vh;
  padding-top: 10vh;
}
.after{
  width: 100%;
  position: absolute;
  top: 30vh;
  z-index: 1;
  color: var(--col3);
}
.color{
  margin: auto;
  width: 50%;
  height: 100%;

  background-image:url(../images/backpic/sakura.jpg);
  background-size: cover;
  filter: grayscale(30%);

}

.box1{
  position: relative;
  padding-bottom: 20vh;
  width: 100%;
}

.box2{
  width: 100%;
  display: flex;
  justify-content:space-around;
  margin-bottom: 30vh;
}
.box2-set{
  margin: auto;
  padding: 5vh 0;
  width:10vw;
  height:30vh;
  filter: grayscale(50%);
  border-radius:5vw;
  background-size: cover;
}
.box2-1 div{
  background-image:url(../images/backpic/kasutera.jpg);
}
.box2-2 div{
  background-image:url(../images/backpic/takoyaki.jpg);
}

.box3{
  position: relative;
  width: 100%;
}
.box3-2{
  padding: 10vh 0;
  text-align: center;
}
.box3-2 div{
  margin: auto;
  border-radius:5vw;
  width:10vw;
  height:40vh;

  background-image:url(../images/backpic/sakura2.jpg);
  background-size: cover;
  filter: grayscale(30%);
}

.box4{
  background-color:var(--col2);
  color: #D9D5C1;
  padding: 10vh 0;
}


.half{
  display: flex;
  justify-content:center;
}
.half2{
  display: none;
}
.hidari{
  text-align: right;
  margin-right: 0.5vw;
  width: 30vw;
}
.migi{
  text-align: left;
  margin-left: 0.5vw;
  width: 30vw;
}

/*-------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px){
  .text { display: inline-block; }

  .title{
    height: 100vh;
  }
  .color{
    height: 60%;
  }
  
  .box2{
    display: block;
  }
  .box2-set{
    width:30vw;
    height:30vh;
    border-radius:15vw;
  }
  .box2-1{
    margin-bottom: 5vh;
  }
  .box2-2{
    margin-bottom: 5vh;
  }
  
  .box3{
    position: relative;
    width: 100%;
  }
  .box3-2{
    padding: 10vh 0;
    margin-bottom: 20vh;
    text-align: center;
  }
  .box3-2 div{
    border-radius:15vw;
    width:30vw;
    height:40vh;
  }
  
}
