p{
  font-size: 1vw;
  line-height: 2;
}
h2{
  font-size: 2vw;
  letter-spacing: 0.1em;
  margin: 5vw 0;
}
.head{
  position:fixed;
  background-color: #AAA79B;
  z-index: 10;
}
.name{
  margin: 10vh 0 0 0;
}
.end{
  position: relative;
  margin: 5vw auto;
  margin: auto;
  padding: 40vh 0 10vh 0;
  width: 70vw;
  color: white;
  background-color: #383A3A;
}
img{
  position: absolute;
  left: 17vw;
  bottom: 30vh;
  width: 50%;
}



.film{
  top: 4vw;
  position:fixed;
  width: 100%;
  height: 100vh;
  background-color: #272F2E;
}
.film ul{
  display:flex;
  justify-content:space-between;
  padding: 0;
  list-style: none;
}
.film ul li{
  width: 12vh;
  height: 8vh;
  margin: 9vh 5vw;
  background-color: #AAA79B;
  border-radius: 5px;
}
.endBack{
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 2vh;
  background-color: #272F2E;
}
.endTop{
  position: fixed;
  top: 4vw;
  width: 100vw;
  height: 2vh;
  background-color: #272F2E;
}

.btn2{
  color: white;
  border-color: white;
}
.btn2:before, .btn2:after {
  background-color: white;
}


.half{
  display: flex;
  justify-content:center;
}
.half2{
  display: none;
}
.hidari{
  text-align: right;
  margin-right: 0.5vw;
  width: 30vw;
}
.migi{
  text-align: left;
  margin-left: 0.5vw;
  width: 30vw;
}
.mio{
  font-size: 1.5vw;
}

/*-------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px){
  body{
    margin:0;
  }
  h1{
    font-size: 8vw;
    margin-bottom: 10vw;
  }
  h2{
    font-size: 4vw;
  }
  p{
    margin: 5vw;
    font-size: 3vw;
  }
  a{
    font-size: 3vw;
  }
  .text { display: inline-block; }

  .nav{
    background-color: #272F2E;
  }
  .nav-list {
    height: 100vh;
  }
  .end{
    margin: 0vw auto;
    padding: 40vh 0 10vh 0;
    width: 76vw;
  }

  .film{
    top: 0vw;
  }
  .film ul li{
    width: 8vw;
    height: 5vw;
    margin: 50% 2vw;
  }

  .endTop{
    top: 0vh;
    height: 10vh;
  }
  .endBack{
    height: 10vh;
  }

  .half{
    display: none;
  }
  .half2{
    display: flex;
    justify-content:center;
  }
  .hidari2{
    text-align: left;
    margin: 0;
    padding-right: 3vw;
    width: 30vw;
    margin: 0;
  }
  .migi2{
    text-align: left;
    margin: 0;
    padding-left: 3vw;
    width: 30vw;
  }
  .mio{
    font-size: 5vw;
  }
  img{
    left: 18vw;
    bottom: 50vh;
  }
}
