:root {
  --bgCol: #000000;
  --bg:url("");
  --bg2:url("");
  --setPic: 10%;
}

li{
  line-height: 1.5;
}
p{
  font-size: 1.2vw;
  line-height: 1.5;
}
h1 {
  font-size: 3.5vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
  margin: 0;
}

h2{
  font-weight:inherit;
  font-size: 2vw;
  letter-spacing: 0.1em;
  margin: 0;
}

h3{
  font-size: 1.2vw;
  letter-spacing: 2em
}

a{
  line-height: 2;
  letter-spacing: 0.2em;
}

img{
  width: 100%;
}
.no1{
  margin: 3vw 5vw;
  display: flex;
}

.no1-l{
  width: 40%;
  text-align:center;
  margin-right: 1vw;
  border: solid 2px #3F3515;
}
.no1-r{
  width: 60%;
  margin: 0 0 0 1vw;
}
.no2-1{
  text-align: center;
  margin: 1vw;
  vertical-align: middle;
  display: flex;
}

.no3{
  text-align: left;
  margin-top: 1vw;
  display: flex;
  height: auto;
}

.no3-2{
  padding:0vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.no3-2 div{
  border: solid 2px rgba(255, 255, 255, 0.5);
  padding: 1vw;
}

.no4{
  margin: 3vw 5vw;
  display: flex;
  justify-content: space-between;
}
.no4 div{
  width: 50%;
  border: solid 2px var(--bgCol);
}
.no4 p{
  font-family: 'New Tegomin', serif;
}
.no4-1{
  background-color: var(--bgCol);
  color: #AAA79B;
  margin-bottom: 1vw;
}
.line{
  background-image:var(--bg);
  background-size: cover;
  background-position: center;
}

.lines{
  animation: kuji 0.4s 0.5s ease-in-out infinite alternate;
}

@keyframes kuji{
    0%{
      background-image:url(../images/kujimeLine.png);
      background-size: contain;
      background-position: center;
    }
    50%{
      background-image:url(../images/kujimeLine2.png);
      background-size: contain;
      background-position: center;
    }
    100%{
      background-image:url(../images/kujimeLine3.png);
      background-size: contain;
      background-position: center;
    }
}

.pv{
  background-color: var(--bgCol);
  margin-left: 1vw;
  border: solid 2px #3F3515;
}
.status{
  height: auto;
  margin: 0;
  padding: 1vw;
  border: solid 2px #3F3515;
  clear: both;
}
.status ul{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin-bottom: 1vw;
  width: 100%;
}

.status li{
  text-align: left;
  width: 10vw;
  list-style: none;

  margin: 0 1vw;
  display: inline-block;
}
.status p{
  margin: 0;
}
@media screen and (max-width: 480px){
  body{
    margin-top: 15%;
    margin-bottom: 15%;
  }
  h1{
    font-size: 5vw;
  }
  h2{
    font-size: 4vw;
  }
  p,a{
    font-size: 3vw;
  }

  .no1{
    margin: 3vw 5vw;
    display: block;
  }

  .no1-l{
    padding: 1vw;
    width: auto;
    margin-right: 0vw;
  }
  .no1-r{
    width: 100%;
    margin: 0vw;
  }
  .no2-1{
    margin: 3vw 0;
    display: flex;
  }

  .no3{
    margin-top: 5vw;
    display: block;
    height: auto;
  }

  .no3-2 div{
    margin-top: 3vw;
    padding: 1vw;
  }

  .no4{
    margin: 10vw 5vw;
    display: block;
  }
  .no4 div{
    width: 100%;
    margin-bottom: 5vw;
  }
  .no4 p{
    font-family: 'New Tegomin', serif;
  }
  .no4-1{
    margin-bottom: 1vw;
  }

  .lines{
    background-image:url(../images/kujimeLine.png);
    background-size: cover;
    background-position: center;
    animation: none;
  }

  .pv{
    margin: 0vw;
  }
  .status{
    height: auto;
    margin: 0;
    padding: 1vw;
    border: solid 2px #3F3515;
    clear: both;
  }

  .status li{
    width: 22vw;
  }
}
