:root {
  --bgCol: #000000;
  --bg:url("");
  --setPic: 10%;
}

html {
  font-size: 1vw;
  background-color:  #AAA79B;
  color: #3F3515;
}
header{
  width: 100%;
  text-align: center;
}

body {
  font-family:'Amatic SC',serif;
  margin: 2vw;
  text-align: center;
  margin-bottom: 15%;
}

h1 {
  font-size: 3.5vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
  margin: 0;
}

h2{
  font-size: 2vw;
  letter-spacing: 0.1em;
  margin: 0;
}

h3{
  font-size: 1.2vw;
  letter-spacing: 2em
}

a{
  line-height: 2;
  letter-spacing: 0.2em;
}

p{
  line-height: 1.5;
}

.list{
  padding: 0;
  width: auto;     /* 追加 */
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.25vw #B7B7B7;/*線*/
  margin-bottom: 10vw;
}

.list li{
  position: relative;
  list-style: none;
}
.item img{
  width: 30%;
}
.item p{
  position: absolute;
  left: 30%;
  top: 10%;
  font-size: 4vw;
}

@media screen and (max-width: 480px){
}


.skew {
  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}
@keyframes fadein {
  100% {  opacity: 1;}
}


/*以下はボタンのデザイン*/
.btn-cross {
  display: inline-block;
  width: 10em;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 1px black;
  border-bottom: solid 1px  black;
  text-decoration: none;
  color: black;
}


.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width:1px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

/*詳細のフェード*/
.fade{
  opacity: 0;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

/*以下遅延の指定*/
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.5s;}
.txt03 {animation-delay: 1s;}
.txt04 {animation-delay: 1.5s;}
.txt05 {animation-delay: 2s;}
.txt06 {animation-delay: 2.5s;}
