:root {
  --bgCol: #000000;
  --bg:url("");
  --bg2:url("");
  --setPic: 10%;
}

/*全体要素*/
#now_Character a{
  color: white;
  background-color: black;
}

.next_character{
  position: relative;
  text-align:center;
  height: auto;
  margin-bottom: 1vw;
}
.next_character img{
  width: 100%;
}
.next_character ul{
  display: flex;
  align-items: stretch;
  justify-content:center;
  padding: 0;
  margin: 0;
}
.next_character li{
  list-style: none;
  overflow: hidden;
  background-color: #d4c390;
  margin: 0 1vw 0 1vw;
  width: 5vw;
  height: 5vw;
}
.black_move{
  margin: auto;
  width: fit-content;
  overflow: hidden;
}


.no1{
  display: flex;
  border: solid 1px #000000;
}
.no1 img{
  width: 100%;
}

/*左側要素*/
.no1-l{
  width: 30%;
  margin: auto;
}

/*右側要素*/
.no1-r{
  width: 70%;
  margin: 0 0 0 1vw;
}
.face_pic{ 
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
}
.face_pic::before{
  display: inline-block;
  position: absolute;
  content: "";
  width: 50%;
  height: 25%;
  right: -12%;
  z-index: 1;
  background-color: rgba(204, 186, 136, 0.555);
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  transform: rotate( 25deg );
}
.face_pic::after{
  display: inline-block;
  position: absolute;
  content: "";
  width: 60%;
  height: 25%;
  left: -5%;
  bottom: -5%;
  z-index: 1;
  background-color: rgba(204, 186, 136, 0.555);
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  transform: rotate( 15deg );
}

.face_pic div{
  position: relative;
  width: 8vw;
  height: 10vw;
  overflow: hidden;
  border: solid .5vw white;
}

.face_pic img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  height: auto;
  position: absolute;
  background-color: black;
}


.no2-1{
  text-align: center;
  margin: 1vw;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
}
/*棒グラフのアニメーション*/
.bar-chart-002 {
  font-size: .9em;
}

.bar-chart-002_div{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 7px;
  width: 100%;
}

.bar-chart-002_div > div {
  display: flex;
  justify-content:color;
  margin-bottom: 7px;
  width: 45%;
}

.bar-chart-002 dt {
  width: 30%;
}

.bar-chart-002 dd {
  width: 70%;
  margin: 0;
  background-color: #ffffff80;
}

.bar-chart-002 span {
  display: inline-block;
  padding-right: 0px;
  border-radius: inherit;
  background-color: #000000;
  color: #fff;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  animation: anima-bar-chart-002 4s ease;
}

@keyframes anima-bar-chart-002 {
  from {
      width: 0;
  }
}
/**/
.no3{
  text-align: left;
  margin-top: 1vw;
}
/*性格*/
.no3-2{
  padding:0vw;
  justify-content: start;
}
.no3-2 div{
  border: solid 1px #000000;
  padding: 1vw;
  margin: 1vw 0 0 0;
}

.line{
  background-image:var(--bg);
  background-size: cover;
  background-position: center;
}

.lines{
  animation: kuji 0.4s 0.5s ease-in-out infinite alternate;
}

@keyframes kuji{
    0%{
      background-image:url(../images/textline/kujimeLine.png);
      background-size: cover;
      background-position: center;
    }
    50%{
      background-image:url(../images/textline/kujimeLine2.png);
      background-size: cover;
      background-position: center;
    }
    100%{
      background-image:url(../images/textline/kujimeLine3.png);
      background-size: cover;
      background-position: center;
    }
}
.status{
  height: auto;
  margin: 0;
  padding: 1vw;
  clear: both;
}
.status ul{
  background-color: #ffffff80;
  padding: 0;
  margin-bottom: 1vw;
  width: 100%;
}

.status li{
  text-align: left;
  width: auto;
  list-style: none;

  margin: 0 1vw;
  display: inline-block;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 860px){
  .no1{
    display: block;
  }

  .no1-l{
    padding: 1vw;
    width: auto;
    margin-right: 0vw;
  }
  .no1-r{
    width: 100%;
    margin: 0vw;
  }
  .face_pic{
    order:1;
    width:35vw;
    margin: auto;
  }
  .face_pic div{
    width:15vw;
    height: 18vw;
    border: solid 1vw white;
  }
  .face_pic::before{
    width: 35%;
  }
  .face_pic::after{
    width: 40%;
  }
  .next_character{
    margin-top: 5vh;
  }
  .next_character li{
    width: 10vw;
    height: 10vw;
  }

  .no2-1{
    margin: 3vw 0;
    display: block;
  }

  .no3{
    margin-top: 5vw;
    display: block;
    height: auto;
  }

  .no3-2 div{
    margin-top: 3vw;
    padding: 1vw;
  }

  .status{
    height: auto;
    margin: 0;
    padding: 1vw;
    border: solid 2px #3F3515;
    clear: both;
  }

}
