img{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    touch-callout:none;
    user-select:none;
  }
  
  .stamp{
    position: absolute;
    right: 0;
    bottom: 0;
    width:fit-content;
    padding: 0;

    font-size: 4vw;
    color: #B51616;
    border: solid 3px #B51616;

    transform:rotate(-4deg); 

    opacity: 0.7;
  }
  
  @media screen and (max-width: 480px){
    .stamp{
        font-size: 6vw;
      }
  }