:root {
  --col:black;
  --col2:#B51616;
  --col3:#D9D5C1;
}

#now_Character a{
  color: white;
  background-color: black;
}

.item{
  position: relative;
}

.list{
  width: 80vw;
  margin: auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  justify-content:space-around;
  align-content:space-around;

  background-color: var(--col3);
}
.list li{
  position: relative;
  text-align:left;
  list-style: none;
  width: 20vw;
  margin: 5vw 1vw;

  opacity: 0;
}
.active{
  animation : extend 4s ease 1s forwards;
}
@keyframes extend{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.done:hover .text1{
  color: var(--col2);
  border-color: var(--col2);
}
.done:hover .text2{
  border-color: var(--col2);
  color: var(--col2);
}
.done:hover .text3{
  color: var(--col2);
  border-color: var(--col2);
}
.stamp{
  width: 100%;
  height: 100%;
  color: var(--col);

  position: relative;

  display: inline-block;
}

.text1{
  margin: 0;
  padding-top: 0.5vw;
  border-top:solid black 5px;
  font-family:'Impact','メイリオ','Noto Serif JP',serif;
}
.text2{
  margin: 0;
  font-size: 12px;
  border-top:solid black 1px;
  font-family:'Impact','メイリオ','Noto Serif JP',serif;
}
.text3{
  margin: 0;
  padding-bottom: 0.5vw;
  border-bottom:solid black 3px;
  font-family:'Impact','メイリオ','Noto Serif JP',serif;
}
@media screen and (max-width: 480px){
  .list li{
    width: 45vw;
    margin: 5vw;
  }
}
