html {
  font-size: 1vw;
  background-color:  #AAA79B;
  color: #3F3515;
}

header{
  width: 100%;
  text-align: center;
}

body {
  font-family:'Amatic SC',serif;
  margin: 0%;
  text-align: center;
  margin-bottom: 15%;
}

li{
  font-size: 1vw;
  line-height: 1.5;
}
p{
  font-size: 1.2vw;
  line-height: 1.5;
}
h1 {
  font-size: 3.5vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
  margin: 0;
}

h2{
  font-family:'Amatic SC',serif;
  font-size: 2vw;
  letter-spacing: 0.1em;
  margin: 0;
}

h3{
  font-size: 1.2vw;
  letter-spacing: 2em
}

a{
  line-height: 2;
  letter-spacing: 0.2em;
}

.skew {
  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}


/*newsの設定*/
.masa p{
  word-break: keep-all;
  line-height: 5;
}
.boxs{
  position: relative;
  width: 100vw;
  height: 40vw;
}

.eva{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 30%;
  opacity: 0;
  padding: 1vw;
}
.times{
  transform: translate(0%,0%);
  width:20%;
  height: 10%;
  position: absolute;
  background-image: url("../images/paper.png");
  background-size: cover;
}

.times1:hover +.eva1{
  opacity: 1;
}
.times2:hover +.eva2{
  opacity: 1;
}
.times3:hover +.eva3{
  opacity: 1;
}

/*保存用
.fade{
  opacity: 0;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.5s;}
.txt03 {animation-delay: 1s;}
.txt04 {animation-delay: 1.5s;}
.txt05 {animation-delay: 2s;}
.txt06 {animation-delay: 2.5s;}
*/

/*探索者のチェキボード*/

.member{
  width: auto;
}
.mem-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.repo1{
  text-align: left;
  position: relative;
  margin: 1vw 5vw  0 5vw;
  border: solid 2px #3F3515;/*線*/
  display: flex;
  justify-content: space-between;
}
.repo2{
  position: relative;
  border: solid 2px #3F3515;/*線*/
  text-align: left;
  padding: 1vw;
  margin: 0;
}
.repo2-1{
  border-bottom: dashed 2px #3F3515;
}
.repo3{
  position: relative;
  border: solid 2px #3F3515;/*線*/
  text-align: left;
  padding: 2vw;
  margin: 0 -2px  0 0;
}
.repo4{
  text-align: left;
  position: relative;
  margin: -2px 5vw  10vw 5vw;
  border: solid 2px #3F3515;/*線*/
  display: flex;
  justify-content: space-between;
}
.repo4-2{
  border-top: solid 2px #3F3515;
}
.repo4-3{
  border-left: solid 2px #3F3515;
  width: 20vw;
}
main{
  margin: -2px 5vw  -2px 5vw;
  display: flex;
  height: 40vw;
}
/*探索者のデータ*/
.data{
  width: 10vw;
  background-color: #494949;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 15px 13px 0 rgba(0, 0, 0,.7);
  color: white;
}
.data h2{
  margin: 0;
  padding: 0;
}
.data h3{
  text-align: center;
  padding: 0;
  font-size: 0.3vw;
  margin-bottom: 2vw;
}
.data img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 8vw;
  border: solid 0.2vw white;
  background-color: black;
  margin: 0.8vw;
}
.data:hover img{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  background-color: white;
}

.data:hover .balloon{
  visibility: inherit;
}
.balloon{
  position: absolute;
  visibility:collapse;                        /* 要素を非表示 */
  padding: 2px;
  background-color: white;
  width:40vw;
  padding: 1vw;
  left : -15vw;
  top: 20vw;
}
.balloon:after{
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  border: 10px solid transparent;
  border-bottom: 30px solid white;
}

.balloon div{
  mix-blend-mode: difference;
  width: 20;
  padding: 1.5vw;
  background-color: white;
  color: black;
}


/* ハンバーガー */
.btn-burger {
  display: none;
}

.nav {
  width: 100%;
  height: 100%;
  border-bottom: dashed 2px #3F3515;/*点線*/
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li a:hover{
  background-color: black;
  color: white;
}

.nav-list a{
  display: block;
  text-decoration: none;
  padding: 0.5vw 2vw;
  color: #3F3515;
  font-size: 1.5vw;
  letter-spacing: 0.2em;
}

.nav-toggle{
  display: none;
}

@media screen and (max-width: 480px){
  body{
    margin-top: 15%;
    margin-bottom: 15%;
  }
  h1{
    font-size: 5vw;
    margin-bottom: 10vw;
  }
  p,a{
    font-size: 3vw;
  }

  /*探索者のデータ*/

  .member{
    width: auto;
  }
  .mem-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }


  .repo1{
    position: relative;
    text-align: left;
    margin: 1vw 5vw  0 5vw;
    border: solid 2px #3F3515;/*線*/
    justify-content: space-between;
  }
  .repo1-1{
    width: 45vw;
    padding: 1vw;
    border-right: dashed 2px #3F3515;
    border-bottom: none;
  }
  .repo2-2{
    padding: 1vw;
  }
  .repo2{
    position: relative;
    border: solid 2px #3F3515;/*線*/
    text-align: left;
    display: flex;
    padding: 0;
    margin: 0;
    height: auto;
  }
  .repo2-1{
    width: 45vw;
    padding: 1vw;
    border-right: dashed 2px #3F3515;
    border-bottom: none;
  }
  .repo2-2{
    padding: 1vw;
  }
  .repo3{
    position: relative;
    border: solid 2px #3F3515;/*線*/
    text-align: left;
    padding: 2vw;
    margin: -2px 0 -2px 0;
    height: 60vw;
  }

  .repo4{
    text-align: left;
    position: relative;
    margin: -2px 5vw  10vw 5vw;
    border: solid 2px #3F3515;/*線*/
    display: block;
    justify-content: space-between;
  }
  .repo4-2{
    border-top: solid 2px #3F3515;
  }
  .repo4-3{
    border-top: solid 2px #3F3515;
    border-left: none;
    width: auto;
  }


  main{
    position: relative;
    margin: -2px 5vw  -2px 5vw;
    height: auto;
    display: block;
  }
  .data{
    font-size: 2vw;
    width: 18vw;
  }
  .data h3{
    font-size: 1vw;
    margin-bottom: 2vw;
  }
  .data img{
    width: 15vw;
  }

  .pin{
    width: 2vw;/*幅*/
  	height: 2vw;/*高さ*/
  }

  .balloon1:after{
    right: -19px;                           /* 吹き出し口の位置調整 */
  }

  .balloon1 div{
    padding: 1vw;
  }

  .balloon2 {
    left : 22vw;
  }
  .balloon2:after{
    left: -19px;                           /* 吹き出し口の位置調整 */
  }
  .balloon2 div{
    padding: 1vw;
  }


    /*ハンバーガーアイコン*/
    .btn-burger {
      z-index: 2;
      cursor: pointer;
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0vw;
      right: 0px;
    }

    /*ハンバーガー三本線*/
    .icon, .icon:before, .icon:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      height: 1px;
      width: 30px;
      background-color: black;
      border-radius: 2px;
      display: block;
      content: '';
      cursor: pointer;
      margin: auto;
    }

    /*三本線の間隔*/
    .icon:before {
      top: 20px;
    }
    .icon:after {
      top: -20px;
    }

    /*チェックボックス非表示*/
    .nav-toggle {
      display: none;
    }

    /*アイコンをクリックしたら*/
    .nav-toggle:checked ~ .btn-burger .icon {
      background: transparent;
    }
    .nav-toggle:checked ~ .btn-burger .icon:before {
      transform: rotate(-45deg);
      top: 0;
      background-color: white;
    }
    .nav-toggle:checked ~ .btn-burger .icon:after {
      transform: rotate(45deg);
      top: 0;
      background-color: white;
    }

    .icon,
    .icon:before,
    .icon:after {
      transition: all .8s;
    }


    .nav {
      border-bottom: none;
      position: absolute;
      top: 0%;
    }

    .nav-list {
      position: relative;
      background-color: gray;
      list-style: none;
      display: none;
      margin: 0;
      padding-top: 30%;
      height: 100%;

      z-index: 1;
    }

    .nav-list li {
      width: 100%;
      height: 10%;
    }

    .nav-list a {
      font-size: 5vw;
    }
    .nav-toggle:checked ~ .nav .nav-list {
      display: block;
    }
}

/*以下はボタンのデザイン*/
.btn2 {
  display: inline-block;
  width: 10em;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 1px black;
  border-bottom: solid 1px  black;
  text-decoration: none;
  color: black;
}


.btn2:before, .btn2:after {
  content: '';
  position: absolute;
  top: -7px;
  width:1px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn2:before {
  left: 7px;
}
.btn2:after {
  right: 7px;
}
.btn2:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn2:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}
