:root {
  --lineCol: #000000;
}

html {
  font-size: 0.25vw; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Amatic SC', serif;
  background-color: #000000;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  color: #E5E5E5;
}

h1 {
  text-align: center;
  font-size: 5vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
}

h2{
  font-size: 2vw;
  text-align: center;
  letter-spacing: 0.1em;
}

h3{
  text-align: center;
  font-size: 1.2vw;
  letter-spacing: 2em
}


body {
  font-size: 1vw;
  margin: 5% 5%;
  margin-bottom: 15%;
}
p, li{
  font-size: 1.5vw;
  text-align: center;
  line-height: 1.5;
}

a{
  font-size: 1vw;
  text-align: center;
  line-height: 2;
  letter-spacing: 0.2em;
}

.title{
  text-align: center;
}

.skew {
  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}


/*newsの設定*/
.masa{
  line-height: 5;
}
.boxs{
  position: relative;
  height: 50vw;
  margin-top: 2vw;
  margin-bottom: 10vw;
}
.mob{
  transform: translate(-0%,0%);
  position: absolute;
  background-color: #494949;
  display: inline-block;
  width: 20%;
}
.mob img{
  width: 100%;
  height: auto;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.times{
  transform: translate(0%,0%);
  width:20%;
  position: absolute;
  background-color: #000000;
}

.times img{
  display: block;
  width: 100%;
  height: auto;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.times:hover{
  z-index: 3;
  background-color: #FFFFFF;
  opacity: 0.8;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}


/*見開き詳細の設定*/
.texts{
  text-align: center;
  color: #000000;
}

/*詳細ページの左*/
.leftPage{
  background-image: url("../images/page.png");
  background-size: cover;
  transform: translate(-100%,-50%);
  position: absolute;
  width: 28vw;
  height: 40vw;
  top: 50%;
  left: 50%;
  color: #000000;
}
.leftPage h2{
  font-size: 2vw;
}

/*詳細ページの右*/
.rightPage{
  background-image: url("../images/page.png");
  background-size: cover;
  transform: translate(0%,-50%);
  position: absolute;
  width: 28vw;
  height: 40vw;
  top: 50%;
  left: 50%;
  color: #000000;
}
.rightPage img{
  transform: translate(-50%,-120%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 20vw;
  height: auto;
}
.rightPage h2{
  font-size: 2vw;
}
.rightPage div{
  transform: translate(-50%,100%);
  position: absolute;
  left: 50%;
  width: 20vw;
  height: 15vw;
  border: solid 1px black;
}
.rightPage p{
  position: absolute;
  color: #000000;
}

.leftPage p{
  font-family:'serif', serif;
  padding: 1vw 2vw;
  text-align: left;
  font-size: 1.1vw;
  color: #000000;
}

.texts h3{
  font-family:'serif', serif;
  z-index: 20;
  position: absolute;
  top: 31vw;
  text-align: left;
  left: 45vw;
  color: #000000;
  text-align: left;
  line-height: 1.5;
}

/*以下はボタンのデザイン*/
.btn-cross {
  display: inline-block;
  width: 10vw;
  position: relative;
  padding: 0.25vw 1vw;
  border-top: solid 1px var(--lineCol);
  border-bottom: solid 1px  var(--lineCol);
  text-decoration: none;
  color: black;
}

.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width:1px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: var(--lineCol);
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

/*画像表示*/
#popup{
  text-align: center;
  z-index: 10;
  width:100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8);
  box-sizing:border-box;
  display:none;
  position:fixed;
  top:0vw;
  left: 0vw;
}
div img{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}
label{
  display:block;
}

label a:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked + #popup{
  display:block;
  transition:.2s;
}


/*詳細のフェード*/
.fade{
  opacity: 0;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

/*以下遅延の指定*/
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.5s;}
.txt03 {animation-delay: 1s;}
.txt04 {animation-delay: 1.5s;}
.txt05 {animation-delay: 4s;}
.txt06 {animation-delay: 6s;}


/*探索者のチェキボード*/
.pic{
  background-image: url("../images/bg3.png");
  background-size: cover;
  position: relative;
  height: 120vw;
  margin-top: 2vw;
  margin-bottom: 10vw;
  border: solid 10px rgba(0, 0, 0,.5);/*線*/
}
/*探索者のデータ*/
.data{
  width: 12vw;
  background-color: #494949;
  position: absolute;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 15px 13px 0 rgba(0, 0, 0,.7);
}
.data h2{
  margin: 0;
  padding: 0;
}
.data h3{
  text-align: center;
  padding: 0;
  font-size: 0.3vw;
  margin-bottom: 2vw;
}
.data img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 10vw;
  border: solid 0.2vw white;
  background-color: black;
  margin: 0.3vw;
}

.data:hover{
}
.data a{
  margin: 0.3vw;
  font-size: 0.7vw;
  background-color: #B2B2B2;
}
.data:hover img{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  background-color: white;
}

.pin{
  display: inline-block;
  position: absolute;
  width: 1vw;/*幅*/
	height: 1vw;/*高さ*/
	border-radius: 50%;/*角丸*/
  background: #B31313;
  box-shadow: inset 0px -5px 2px 0 rgba(0, 0, 0,.5);
}
/*以下はボタンのデザイン*/
.cross {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
}


.data:hover .balloon1 {
  display: inline;                /* インライン要素として表示 */
}
.balloon1 {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: white;       /* 背景色（透明度） */
  width:40vw;                          /* 吹き出し全体の幅 */
  padding: 1vw;
  left : -48vw;
}
.balloon1:after{
  border-left: 19px solid white;   /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
  right: -11px;                           /* 吹き出し口の位置調整 */
  top: 0.3vw;                                /* 吹き出し口の縦位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

.balloon1 div{
  mix-blend-mode: difference;
  width: 20;
  padding: 1.5vw;
  background-color: white;
  color: black;
}

.data:hover .balloon2 {
  display: inline;                /* インライン要素として表示 */
}
.balloon2 {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: white;       /* 背景色（透明度） */
  width:40vw;                          /* 吹き出し全体の幅 */
  padding: 1vw;
  left : 14vw;
}
.balloon2:after{
  border-right: 19px solid white;   /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
  left: -12px;                           /* 吹き出し口の位置調整 */
  top: 0.3vw;                                /* 吹き出し口の縦位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}
.balloon2 div{
  mix-blend-mode: difference;
  width: 20;
  padding: 1.5vw;
  background-color: white;
  color: black;
}

@media screen and (max-width: 480px){
  body{
    margin: 5%;
  }
  h1{
    font-size: 5vw;
    margin-bottom: 10vw;
  }
  p,a{
    font-size: 10px;
  }

  .boxs{
    position: relative;
    height: 100vw;
    margin-top: 1vw;
    margin-bottom: 10vw;
  }
  .mob{
    transform: translate(-40%,0%);
    position: absolute;
    background-color: #494949;
    display: inline-block;
    width: 25%;
  }

  .times{
    width:25%;
    position: absolute;
    background-color: #000000;
  }


  .texts{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .texts .leftPage{
    scroll-snap-align: center;
  }
  .texts .rightPage{
    scroll-snap-align: center;
  }
  /*詳細ページの左*/
  .leftPage{
    background-image: url("../images/page.png");
    background-size: cover;
    transform: translate(0%,-50%);
    position: absolute;
    width: 75%;
    height: 60%;
    top: 50%;
    left: 25%;
    color: #000000;
    padding: 2vw;
  }
  .leftPage h2{
    margin: 2vw;
    font-size: 6vw;
  }
  .leftPage p{
    width: 80%;
    height: 60%;
    font-family:'serif', serif;
    text-align: left;
    font-size: 3vw;
    color: black;
    margin:5vw;
  }

  /*詳細ページの右*/
  .rightPage{
    background-image: url("../images/page.png");
    background-size: cover;
    transform: translate(10%,-50%);
    position: absolute;
    width: 75%;
    height: 60%;
    top: 50%;
    left: 100%;
    color: #000000;
    padding: 2vw;
  }
  .rightPage img{
    transform: translate(-50%,-120%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 70%;
    height: auto;
  }
  .rightPage h2{
    margin: 2vw;
    font-size: 6vw;
  }
  .rightPage div{
    transform: translate(-50%,95%);
    position: absolute;
    left: 50%;
    width: 70%;
    height: 40%;
    border: solid 1px black;
  }
  .rightPage p{
    position: absolute;
    color: #000000;
  }
.memo p{
	font-size: 14px;
}
  /*探索者のチェキボード*/
  .pic{
    background-image: url("../images/bg3.png");
    background-size: cover;
    position: relative;
    height: 180vw;
    margin-top: 2vw;
    margin-bottom: 10vw;
    border: solid 5px rgba(0, 0, 0,.5);/*線*/
  }
  /*探索者のデータ*/
  .data{
    width: 18vw;
    background-color: #494949;
    position: absolute;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 15px 13px 0 rgba(0, 0, 0,.7);
  }
  .data h2{
    margin: 0;
    padding: 0;
  }
  .data h3{
    text-align: center;
    padding: 0;
    font-size: 0.3vw;
    margin-bottom: 2vw;
  }
  .data img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 16vw;
    border: solid 0.2vw white;
    background-color: black;
    margin: 0.3vw;
  }

  .data:hover{
  }
  .data a{
    margin: 0.3vw;
    background-color: #B2B2B2;
  }
  .data:hover img{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    background-color: white;
  }

  .pin{
    display: inline-block;
    position: absolute;
    width: 2vw;/*幅*/
  	height: 2vw;/*高さ*/
  	border-radius: 50%;/*角丸*/
    background: #B31313;
    box-shadow: inset 0px -5px 2px 0 rgba(0, 0, 0,.5);
  }
  /*以下はボタンのデザイン*/
  .btn-cross {
    width: 20vw;
  }
  .cross {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
  }


  .data:hover .balloon1 {
    display: inline;                /* インライン要素として表示 */
  }
  .balloon1 {
    position: absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    background-color: white;       /* 背景色（透明度） */
    width:40vw;
    left : -48vw;
  }
  .balloon1:after{
    border-left: 19px solid white;   /* 吹き出し口の幅・色 */
    border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
    border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
    right: -19px;                           /* 吹き出し口の位置調整 */
    top: 0.3vw;                                /* 吹き出し口の縦位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }

  .balloon1 div{
    mix-blend-mode: difference;
    padding: 2vw;
    background-color: white;
    color: black;
  }

  .data:hover .balloon2 {
    display: inline;                /* インライン要素として表示 */
  }
  .balloon2 {
    position: absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    background-color: white;       /* 背景色（透明度） */
    width:40vw;                          /* 吹き出し全体の幅 */
    left : 22vw;
  }
  .balloon2:after{
    border-right: 19px solid white;   /* 吹き出し口の幅・色 */
    border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
    border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
    left: -19px;                           /* 吹き出し口の位置調整 */
    top: 0.3vw;                                /* 吹き出し口の縦位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }
  .balloon2 div{
    mix-blend-mode: difference;
    padding: 2vw;
    background-color: white;
    color: black;
  }

}
