html {
  background-color:  #e4e2d5;
  color: #403D31;
}
body {
  font-family:'monospace','游明朝','Noto Serif JP',serif;
  height: auto;
  margin-top: 0;
}

footer{
  position: relative;
  width: 100%;
  margin-top: 1vw;
}
.menu{
  display: flex;
  justify-content:space-around;
  border-top: solid 1px #000000;
  padding-top: 1vw;
}
.menu div{
  width: 40%;
  padding: 0;
  text-align: left;
}
.menu ul{
  list-style: none;
  padding: 0;
}
header{
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  text-align: center;
  background-color:  #e4e2d5;
  height: 3vw;
}
.drawer{
  width: 100%;
  height: 100%;
}

/*文字*/
a{
  text-decoration: none;
}
li,a{
  font-size: 1vw;
}
p{
  font-size: 1.2vw;
}
h1 {
  font-size: 4vw;
}

h2 {
  font-size: 2vw;
}
h3{
  font-size: 1.2vw;
  letter-spacing: 2em
}



/*ロードアクション*/
#loading {
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #403D31;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/*ロード画面閉じる*/
.loaded {
  animation: bgAnime .4s linear .5s forwards;
}
@keyframes bgAnime {
  0% {
  opacity: 1;
  transform: translateY(0);
  }
  100% {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-100vh);
  }
}


.fade{
  opacity: 0;
  animation: fadein 5s ease forwards;
}
@keyframes fadein {
  100% {  
    opacity: 1;
  }
}

.txt01 {animation-delay: 2s;}
.txt02 {animation-delay: 2.5s;}
.txt03 {animation-delay: 3s;}
.txt04 {animation-delay: 3.5s;}
.txt05 {animation-delay: 4s;}
.txt06 {animation-delay: 4.5s;}


/* フェードイン用のCSS */
/*スクロールに合わせる＋fade.js*/
.sa{
  opacity: 0;
  transition:all 2s ease;
}
.sa.show {
  opacity: 1;
  transform: none;
}
.sa--lr {
  transform: translate(-100px, 0);
}
.sa--rl {
  transform: translate(100px, 0);
}
.up{
  transform: translate(0, 50px);
}
.sa--down {
  transform: translate(0, -100px);
}
.sa--big {
  transform: scale(110%);
}
.sa--small {
  transform: scale(95%);
}


/*ナビゲート設定*/
.nav {
  height: 100%;
  border-bottom: solid 1px #000000;/*ナビゲーションの線*/
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-list li a:hover{
  background-color: black;
  color: white;
}

.nav-list a{
  display: block;
  text-decoration: none;
  padding: 0.1vw 2vw;
  color: #3F3515;
  font-size: 1vw;
}

.nav-toggle{
  display: none;
}

/* ハンバーガー */
.btn-burger {
  display: none;
}


.loaded {
  animation: bgAnime .4s linear .5s forwards;
}


/*アニメーション装飾関連*/
/*浮かび上がる*/
.move1{
  opacity: 0;
  animation: moveAnime1 0.5s ease 2.2s forwards;
}
@keyframes moveAnime1 {
  0% {
      opacity: 0;
    }
  100% {
    opacity: 1;
  }
}
.title_text{
  width:fit-content;
  position: relative;
  display: block;
  margin-bottom: 1vw;
  overflow: hidden;
}
.title_text p{
  margin: 0;
}
.title_text::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  transform: translateX(-100%);
  animation : extend 2.5s ease var(--s) forwards;
  background-color: #000000;
}
@keyframes extend{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(50%);
  }
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 860px){
  h1{
    font-size: 25px;
    margin: 5%;
  }
  h2{
    font-size: 20px;
  }
  li,a{
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }
  img{
    width: 100%;
  }


  /*ハンバーガーアイコン*/
  .btn-burger {
    z-index: 20;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0vw;
    right: 0px;
  }

  /*ハンバーガー三本線*/
  .icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 30px;
    background-color: black;
    border-radius: 2px;
    display: block;
    content: '';
    cursor: pointer;
    margin: auto;
  }

  /*三本線の間隔*/
  .icon:before {
    top: 20px;
  }
  .icon:after {
    top: -20px;
  }

  /*チェックボックス非表示*/
  .nav-toggle {
    display: none;
  }

  /*アイコンをクリックしたら*/
  .nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
  }
  .nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(45deg);
    background-color: white;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    position: fixed;
  }
  .nav-toggle:checked ~ .btn-burger .icon:after {
    position: fixed;
    transform: rotate(-45deg);
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    background-color: white;
  }

  .icon,
  .icon:before,
  .icon:after {
    transition: all .8s;
  }

  .nav {
    border-bottom: none;
    position: absolute;
    top: 0%;
  }

  .nav-list {
    position: fixed;
    width: 100%;
    background-color: #8b8981;
    list-style: none;
    display: none;
    margin: 0;
    padding-top: 40%;
    height: 100%;

    z-index: 10;
  }

  .nav-list li {
    margin-left: 20%;
    width: 60%;
    height: 10%;
    text-align: left;
  }

  .nav-list a {
    font-size: 5vw;
  }
  .nav-toggle:checked ~ .nav .nav-list {
    display: block;
  }

  footer{
    height: 15vh;
  }

}
