:root {
  --lineCol: #59CDD3;
}

html {
  font-size: 1vw; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family:'Noto Serif JP', serif; /* this should be the rest of the output you got from Google fonts */
  background-color:  #272F2E;
  color: #E5E5E5;
}

h1 {
  font-family:'Garamond', serif;
  margin-top: 5vw;
  text-align: center;
  font-size: 4vw;
}

h2 {
  text-align: center;
}


body {
  margin: 0% 10%;
}
img {
  display: block;
  margin: 0 auto;
}
p, li ,a{
  text-align: center;
  font-size: 1vw;
  line-height: 2;
}

/*以下はボタンのデザイン*/
.btn-cross {
  display: inline-block;
  width: 10em;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 1px var(--lineCol);
  border-bottom: solid 1px  var(--lineCol);
  text-decoration: none;
  font-weight: 4px;
  color: #E5E5E5;
}

.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 0.05vw;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: var(--lineCol);
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

/*横並び*/
.flex{
    display: flex;/*コレ*/
    text-align: center;

}
.flex div{
    width: 50%;
    padding: 0.5em;
    margin: 3vw;
    text-align: center;
}

/*ロードアクション*/
#loading {
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #272F2E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.breeding-rhombus-spinner {
  height: 65px;
  width: 65px;
  margin: 200px auto;
  position: relative;
  transform: rotate(45deg);
}

.breeding-rhombus-spinner, .breeding-rhombus-spinner * {
  box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
  height: calc(65px / 7.5);
  width: calc(65px / 7.5);
  animation-duration: 2000ms;
  top: calc(65px / 2.3077);
  left: calc(65px / 2.3077);
  background-color: #1DD1B3;
  position: absolute;
  animation-iteration-count: infinite;
}
.breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
  margin-right: 0;
}
.breeding-rhombus-spinner .rhombus.child-1 {
  animation-name: breeding-rhombus-spinner-animation-child-1;
  animation-delay: calc(100ms * 1);
}
.breeding-rhombus-spinner .rhombus.child-2 {
  animation-name: breeding-rhombus-spinner-animation-child-2;
  animation-delay: calc(100ms * 2);
}
.breeding-rhombus-spinner .rhombus.child-3 {
  animation-name: breeding-rhombus-spinner-animation-child-3;
  animation-delay: calc(100ms * 3);
}
.breeding-rhombus-spinner .rhombus.child-4 {
  animation-name: breeding-rhombus-spinner-animation-child-4;
  animation-delay: calc(100ms * 4);
}
.breeding-rhombus-spinner .rhombus.child-5 {
  animation-name: breeding-rhombus-spinner-animation-child-5;
  animation-delay: calc(100ms * 5);
}
.breeding-rhombus-spinner .rhombus.child-6 {
  animation-name: breeding-rhombus-spinner-animation-child-6;
  animation-delay: calc(100ms * 6);
}
.breeding-rhombus-spinner .rhombus.child-7 {
  animation-name: breeding-rhombus-spinner-animation-child-7;
  animation-delay: calc(100ms * 7);
}
.breeding-rhombus-spinner .rhombus.child-8 {
  animation-name: breeding-rhombus-spinner-animation-child-8;
  animation-delay: calc(100ms * 8);
}
.breeding-rhombus-spinner .rhombus.big {
  height: calc(65px / 3);
  width: calc(65px / 3);
  animation-duration: 2000ms;
  top: calc(65px / 3);
  left: calc(65px / 3);
  background-color: #1DD1B3;
  animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
  animation-delay: 0.5s;
}

/* ローディングアニメーション */
@keyframes breeding-rhombus-spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}
@keyframes breeding-rhombus-spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}
/*ロード画面閉じる*/
.loaded {
  opacity: 0;
  visibility: hidden;
}
