:root {
  --s:1.5s;
  --roop:100%;
  --end:-100%;
}

html {
  background-color:  #AAA79B;
  color: #3F3515;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Amatic SC','游明朝','Noto Serif JP',serif;
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

header{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 10%;
}
.drawer{
  width: 100%;
  height: 100%;
}
.nav {
  width: 100%;
  height: 100%;
  border-bottom: dashed 2px #3F3515;/*点線*/
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-list li a:hover{
  background-color: black;
  color: white;
}

.nav-list a{
  display: block;
  text-decoration: none;
  padding: 0.1vw 2vw;
  color: #3F3515;
  font-size: 1.5vw;
  letter-spacing: 0.2em;
}

.nav-toggle{
  display: none;
}
#now a{
  color: white;
  background-color: black;
}

/* ハンバーガー */
.btn-burger {
  display: none;
}

.welcome{
  position: relative;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
}

.bgmark{
  position: relative;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 90%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

li,a{
  font-size: 1vw;
}
p{
  font-size: 1vw;
}
h1 {
  font-size: 15vw;
}
h2 {
  font-size: 4vw;
  margin: 0;
}


/*ロードアクション*/
#loading {
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #272F2E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/*ロード画面閉じる*/
.loaded {
  animation: bgAnime .4s linear .5s forwards;
}
@keyframes bgAnime {
  0% {
  opacity: 1;
  transform: translateY(0);
  }
  100% {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-100vh);
  }
}


/*今後使うかも
.fade{
  opacity: 0;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

.txt01 {animation-delay: 2s;}
.txt02 {animation-delay: 2.5s;}
.txt03 {animation-delay: 3s;}
.txt04 {animation-delay: 3.5s;}
.txt05 {animation-delay: 4s;}
.txt06 {animation-delay: 4.5s;}
*/

/*タイトル*/
.move1{
  opacity: 0;
  animation: moveAnime1 0.5s ease 2.2s forwards;
}
@keyframes moveAnime1 {
  0% {
      opacity: 0;
    }
  100% {
    opacity: 1;
  }
}

/*rogo*/
.move2{
  opacity: 0;
  animation: moveAnime2 1.0s ease-in-out 1.5s forwards;
}
@keyframes moveAnime2 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    opacity: 0.8;
    transform: translateY(-10vh);
  }
}



/*背景　#AAA79B;
  文字#3F3515;
*/

/*持ち上げ*/
.opRoll{
  width: 100%;
  height: 100%;
  background-color: rgb(209, 200, 185);
  animation: op 1s ease-in-out 0.6s forwards;
  opacity: 0;
}
.pic{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  background-image: url("../images//backpic/bgm4.jpg");
  background-size: cover;
  filter: contrast(150%) grayscale(100%);
  width: 100%;
  height: 100%;
}
@keyframes op {
  0% {
    transform: translateY(100vh);
      opacity: 0;
    }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

/*タイトルにょーん*/
.we1{
  position: absolute;
  top: 25vh;
  left: 10vw;
  text-align: left;
  overflow: hidden;
}
.we1-1{
  width:fit-content;
  position: relative;
  display: block;
  margin-bottom: 1vw;
  overflow: hidden;
}
.we1-1 p{
  margin: 0;
}
.we1-1::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  transform: translateX(-100%);
  animation : extend 2.5s ease var(--s) forwards;
  background-color: #000000;
}
@keyframes extend{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(50%);
  }
}

/*いあいあ*/
.we2{
  position: absolute;
  right: 0%;
  width: 5%;
  height: 100%;
  text-align: right;
}
.we2 p{
  white-space: nowrap;
  transform: rotate( 90deg );
  transform-origin:left bottom;
  color: #3F3515;
}
.text{
  animation: flowing 10s linear 3.3s infinite;
  transform: translateY( var(--roop) );/*初期位置*/
}
@keyframes flowing {
  100% {
    transform: translateY( var(--end) );
    opacity: 1;
  }
}

.we3{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  text-align: left;
  overflow: hidden;
}
img{
  position: absolute;
  width: 50%;
  top: 20vh;
  left: 25%;
}



@media screen and (max-width: 480px){
  h1{
    margin: 5%;
  }
  h2{
    font-size: 8vw;
  }
  p{
    margin: 0 15%;
    font-size: 10px;
  }
  
  .bgmark{
    position: relative;
    top: 0%;
    left: 0%;
    width: 95%;
    height: 108%;
    margin: auto;
    transform: translate(-0%,-8%);
    overflow: hidden;
  }


  .we1{
    top: 8vh;
  }
  /*いあいあ*/
  .we2{
    width: 100%;
    height: 5%;
    bottom: 0;
  }
  .we2 p{
    transform: rotate( 0deg );
  }
  .text{
    animation: flowing 10s linear 3.3s infinite;
    transform: translateX( var(--roop) );/*初期位置*/
  }
  @keyframes flowing {
    100% {
      transform: translateX( var(--end) );
      opacity: 1;
    }
  }

  /*した文字*/
  .we3{
    position: absolute;
    bottom: 8vh;
  }
  .we3 p{
    margin: 0;
  }

  img{
    position: absolute;
    width: 50%;
    top: 20vh;
    left: 25%;
  }

  /*ハンバーガーアイコン*/
  .btn-burger {
    z-index: 2;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0vw;
    right: 0px;
  }

  /*ハンバーガー三本線*/
  .icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 30px;
    background-color: black;
    border-radius: 2px;
    display: block;
    content: '';
    cursor: pointer;
    margin: auto;
  }

  /*三本線の間隔*/
  .icon:before {
    top: 20px;
  }
  .icon:after {
    top: -20px;
  }

  /*チェックボックス非表示*/
  .nav-toggle {
    display: none;
  }

  /*アイコンをクリックしたら*/
  .nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
  }
  .nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: white;
  }
  .nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
    background-color: white;
  }

  .icon,
  .icon:before,
  .icon:after {
    transition: all .8s;
  }


  .nav {
    border-bottom: none;
    position: absolute;
    top: 0%;
  }

  .nav-list {
    position: relative;
    background-color: #8b8981;
    list-style: none;
    display: none;
    margin: 0;
    padding-top: 40%;
    height: 100%;

    z-index: 1;
  }

  .nav-list li {
    margin-left: 20%;
    width: 60%;
    height: 10%;
    text-align: left;
  }

  .nav-list a {
    font-size: 5vw;
  }
  .nav-toggle:checked ~ .nav .nav-list {
    display: block;
  }

  img{
    position: absolute;
    width: 100%;
    top: 45vh;
    left: 0vw;
  }
}
