:root {
  --s:1.5s;
  --roop:100%;
  --end:-100%;
}

#now_Top a{
  color: white;
  background-color: black;
}

.main{
  position: relative;
  width: 100%;
  height: calc(100vh - 3vw);
}
/*回転文字や中央ロゴの全体配置*/
.bgmark{
  position: relative;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 80%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

/*ロゴの持ち上げ（スロー）*/
.move2{
  opacity: 0;
  height: 100%;
  animation: moveAnime 1.0s ease-in-out 1.5s forwards;
}
@keyframes moveAnime {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    opacity: 0.8;
    transform: translateY(1);
  }
}
.move2 img{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*要素の持ち上げ（素早い）*/
.opRoll{
  height: 100%;
  animation: fade_up 1s ease-in-out 0.6s forwards;
  opacity: 0;
  background-color: #D9D5C1;
}

@keyframes fade_up {
  0% {
    transform: translateY(100vh);
      opacity: 0;
    }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

/*タイトルにょーん*/
.title1{
  position: absolute;
  top: 15vh;
  left: 5vw;
  text-align: left;
  overflow: hidden;
}
.title2{
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  text-align: left;
  overflow: hidden;
}

/*いあいあ*/
.title3{
  position: absolute;
  right: 0%;
  width: 5%;
  height: 100%;
  text-align: right;

  animation: flowing 10s linear 3.3s infinite;
  transform: translateY( var(--roop) );/*初期位置*/
}
.title3 p{
  white-space: nowrap;
  transform: rotate( 90deg );
  transform-origin:left bottom;
}
@keyframes flowing {
  100% {
    transform: translateY( var(--end) );
    opacity: 1;
  }
}

@media screen and (max-width: 480px){
  .bgmark{
    position: relative;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%,-50%);
    overflow: hidden;
  }

  .title1{
    top: 8vh;
  }
  .title2{
    position: absolute;
    bottom: 8vh;
  }
  .title2 p{
    margin: 0;
  }
  /*いあいあ*/
  .title3{
    width: 100%;
    height: 5%;
    top: 50%;
    animation: flowing 10s linear 3.3s infinite;
    transform: translateX( var(--roop) );/*初期位置*/
  }
  .title3 p{
    transform: rotate( 0deg );
  }
  @keyframes flowing {
    100% {
      transform: translateX( var(--end) );
    }
  }

  .move2 img{
    position: absolute;
    width: 100%;
  }
}
